<div class="row">
  <div class="col-12">
    <img src="images/logo.PNG" alt="Logo" />
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <img
      src="images/banner.PNG"
      alt="Banner"
      style="width: 100%; height: auto"
    />
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre comun</th>
            <th>Tipo</th>
            <th>Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of plantas">
            <td>
              <dd>
                <strong>{{ v.id }}</strong>
              </dd>
            </td>
            <td>
              <dd>{{ v.nombre_comun }}</dd>
            </td>
            <td>
              <dd>{{ v.tipo }}</dd>
            </td>
            <td>
              <dd>{{ v.clima }}</dd>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p><strong>Total plantas de interior:</strong> {{ totalInterior }}</p>
        <p><strong>Total plantas de exterior:</strong> {{ totalExterior }}</p>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>